/* google font style here */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* some common class */
  a{
    text-decoration: none;
  }
  .p-text{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
opacity: 0.7;
line-height: 20px;
text-align: center;
  }
  .container-p-description{
    width: 468px;
    margin-top: 16px;
  }
  .heading-h2{
    /* position: static; */
width: 852px;
height: 39px;
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
text-align: center;
  }
  .heading-h3{
position: static;
width: 390px;
color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
line-height: 36px;
margin: 16px 0px;
  }
  .container-p-description{
width: 468px;
height: 52px;
line-height: 25px;
margin-top: 16px;
text-align: start;
  }
  .learn-btn{
    align-items: center;
padding: 12px 20px 12px 20px;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
margin-top: 75px;

  }
  /* heading part style start here */
  .heading{
color: rgb(13, 19, 33);
font-size: 48px;
font-weight: 800;
text-align: center;
width: 998px;
height: 136px;
margin: 24px 0px;
Row height: 68px
Align: Align center
  }
  .heading-description{
    width: 852px;
height: 52px;
line-height: 30px;
  }
.buttom{
padding: 21px 24px 21px 24px;
border-radius: 8px;
background: rgb(13, 19, 33);
align-items: center;
color: rgb(255, 255, 255);
margin: 32px 322px ;
  }
  .header{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 582px;
align-items: center;
  }
  .header-img{
width: 173.03px;
height: 228.9px;
left: 243.4%;
right: -215.41%;
bottom: 4.63%;
margin-top: 26px;
  }
  header{
background-image: url(../images/Hero-bg.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
  }
  /* main section start style here */
  .container{
    margin-top: 120px;
    width: 946px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.contaner-para-heading{
    width: 946px;
    margin: 0 auto;
    text-align: center;
}
.contaner-para-heading .heading-h2{
    text-align: center;
    margin-top: 246px;
}
.contaner-para-heading p{
    text-align: center;
    margin-top: 26px;
}
  .contant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 946px;
    margin: 0 auto;
    padding: 48px;
    margin: 48px;
  }
  .left-side{
    width: 477px;
  }
  .contaner-img{
width: 260px;
height: 215px;
  }
  .main-section{ 
    width: 1140px;margin: 0 auto;
    background: rgba(13, 19, 33, 0.02);
  }
  .main-container{
    margin-top: 100px;
    border-radius: 16px;
    margin-bottom: 50px;
  }
  .bg-color-1{
    border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
  }
  .bg-color-2{
    border-radius: 16px;
background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
  }
  .bg-color-3{
    border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
  }
  /* My Inspiration style start here */
  .my-inspiration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .inspitation-p{
    text-align: center;
    margin-top: 17px;
    width: 600px;
    line-height: 30px;
  }
  .heading-h4{
    color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
text-align: center;
  }
 iframe{
    margin-top: 40px;
    border-radius: 16px;
border: 2px solid rgba(13, 19, 33, 0.2);
 }
 /* my-current-target style start here */
 .my-current-target{
    max-width: 1140px;
   margin: 0 auto;
   margin-top: 100px;
 }
 #box-heading {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
 }
 #box-heading p{
  text-align: center;
  line-height: 30px;
     }
 .box-1{
    width: 364px;
border-radius: 16px;
align-self: stretch;
margin: 16px 0px;
padding: 50px;
 }
 .box-bg-color-1{
    background: rgba(255, 76, 30, 0.05);
 }
 .box-bg-color-2{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
 }
 .box-bg-color-3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
 }
 .p-p-p{
    margin-bottom: 26px;
    line-height: 30px;
 }
 .learn-more{
    text-decoration: underline;
    cursor: pointer;
 }
 .box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 70px;
 }